SPRING_DATASOURCE_URL=jdbc:mysql://your-mysql-host:3306/your_database?useUnicode=true&characterEncoding=utf8&useSSL=false&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true
SPRING_DATASOURCE_USERNAME=your_username
SPRING_DATASOURCE_PASSWORD=your_password

SPRING_MAIL_USERNAME=
SPRING_MAIL_PASSWORD=

BACKEND_PORT=8080
ADMIN_PORT=8081
CONSOLE_PORT=8082
PORTAL_PORT=3000

NUXT_API_BASE_URL=http://ai-studio-service:8080/ai-studio/v1
NUXT_LOGIN_TYPE=own
NUXT_TOKEN_TYPE=Bearer
NUXT_APP_BASE_URL=/
NUXT_CONSOLE_BASE_URL=http://localhost:8082/ai-studio-plus-console-web
NUXT_KNOWLEDGE_API_BASE=http://localhost:3002/ai-studio/v1/knowledge
